{% extends "base_generic.html" %}
{% block title %}<title>Myapp</title>{% endblock %}
{% block content %}
    <h2><a href="prescription/create/"> + Create new Prescription</a></h2>
    <h2>My Prescriptions</h2>

    {% if prescription_list %}
      <table class="table">
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th>view</th>
        </tr>
        {% for prescrip in prescription_list %}
          <tr>
            
            <td>{{prescrip.date}}</td>
            <td>{{prescrip.name}}</td>
            <td><a href="{{ prescrip.get_absolute_url }}">view</a></td>
          </tr>
        
        {% endfor %}
      </table>
    {% else %}
      <p>There are no prescriptions created.</p>
    {% endif %}       
{% endblock %}